<!-- 页面样式 -->
<link rel="stylesheet" href="/css/app/carmanage.css" />
<!-- 页面头部 -->
<div class="app_header">
	<div class="header_position fadeIn animated">
		<a href="/open/cars"><div class="header_btn_left <% if (status == 1) { %>active<% } %>">在售车辆</div></a>
		<a href="/open/soldCars"><div class="header_btn_right <% if (status == 2) { %>active<% } %>">已售车辆</div></a>
	</div>
</div>
<!-- 页面主体 -->
<div class="app_body">
	<div class="body_left fadeIn animated"><div>车辆品牌</div><i class="fa fa-angle-down"></i></div>
	<input name="brand" type="hidden"/>
	<div class="body_middle fadeIn animated">待售价格<i class="fa fa-angle-down"></i></div>
	<div class="body_right fadeIn animated">更多选项<i class="fa fa-angle-down"></i></div>
</div>
<!-- 页面底部 -->
<div class="app_bottom">
	<% if (list && list.length) { 
		for (var i=0; i < list.length; i++) { %>
			<div class="bottom_li <%=list[i].Innerid%>">
				<div class="li_body">
					<img class="body_img fadeIn animated" src="<%= qnurl + list[i].pic_url + '?imageView2/2/w/195/h/140' %>" width="195" height="140" onclick="cardetail('<%=list[i].Innerid%>');" onerror="this.src='/img/no-img.png'"/>
					<div class="li_body_text">
						<div class="body_text_title fadeIn animated" onclick="cardetail('<%=list[i].Innerid%>');">
							<%= list[i].model_name %>
						</div>
						<div class="body_text_content">
							<div class="text_content_top fadeIn animated" onclick="cardetail('<%=list[i].Innerid%>');"><%=new Date(list[i].register_date).format("yyyy年M月")%>上牌/<%=list[i].mileage%>万公里</div>
							<div class="text_content_bottom" onclick="cardetail('<%=list[i].Innerid%>');">
								<div class="content_bottom_money fadeIn animated">¥<span><%= list[i].price %>万</span></div>
								<div class="content_bottom_sougo fadeIn animated">
								</div>
							</div>
							<% if (status == 1) { %>
								<img class="content_bottom_img fadeInRight animated" status="<%=list[i].status%>" auditstatus="<%=list[i].auditstatus%>" innerid="<%=list[i].Innerid%>" src="../img/app/xuanzhe.png" />
							<% } %>
						</div>
					</div>
				</div>
				<div class="li_bottom fadeIn animated">
					<div class="li_bottom_left">
						<img class="rubberBand animated" src="../img/app/fangwen.png" width="32" height="26"/>
						<div class="bottom_left_text"><span>访问量 </span> <%= list[i].ShareModel? list[i].ShareModel.SeeCount : 0 %></div>
					</div>
					<% if (status != 2) { %>
						<div class="li_bottom_middle" innerid="<%=list[i].Innerid%>">
							<div class="app_color">
								<i class="fa fa-hand-o-right fadeInLeft animated infinite"></i>
								选模板，去发朋友圈
								<i class="fa fa-hand-o-left  fadeInRight animated infinite "></i>
							</div>
						</div>
					<% } %>
					<div class="li_bottom_right">
					</div>
				</div>
			</div>
		<% }
	} else { %>
		<img class="nulllist" src="../img/nolist.png" />
	<% } %>
</div>
<!-- 右侧菜单 -->
<div class="app_menu_mask"></div>
<div class="bottom_menu">
	<i class="fa fa-caret-right"></i>	
	<div class="menu_edit">
		<img src="../img/app/bianji.png" height="43"/>
		<span class="edit_title">
			编辑
		</span>
	</div>
	<div class="menu_delete">
		<img src="../img/app/shanchu.png" height="43"/>
		<span class="delete_title">
			删除
		</span>
	</div>	
	<div class="menu_settle">
		<img src="../img/app/jiean.png" height="43"/>
		<span class="settle_title">
			结案
		</span>
	</div>
</div>
<!-- 中介标签 -->
<input name="mediation" type="hidden"/>
<input id="custid" type="hidden" value="<%= custid %>"/>
<input id="mobile" type="hidden" value="<%= mobile %>"/>
<!-- 页面脚本 -->
<script src="../js/socket.io.js"></script>
<script src="../js/app/carmanage.js"></script>