<!-- 样式引用 -->
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/app/carsearch.css" />
<!-- 页面头部 -->
<div class="app_header">
	<span class="lable_city">城市：</span>
	<select class="choose_city">
		<% for (var i=0; i < citys.length; i++) { %>
			<option value="<%= citys[i].code %>"><%= citys[i].name %></option>
		<% } %>
	</select>
	<div class="choose choose_car fadeInDown animated"><span>品牌车系</span><i class="fa fa-angle-down"></i></div>
	<input name="choose_brand" type="hidden"/>
	<input name="choose_series" type="hidden"/>
	<div class="choose choose_year fadeInDown animated"><span>使用年限</span><i class="fa fa-angle-down"></i></div>
	<input name="choose_year" type="hidden"/>
	<div class="choose choose_select" choose="choose_year">
		<div class="choose_select_option" value="-">不限</div>
		<div class="choose_select_option" value="1-3">1-3年</div>
		<div class="choose_select_option" value="3-5">3-5年</div>
		<div class="choose_select_option" value="5-8">5-8年</div>
		<div class="choose_select_option" value="8-">8年以上</div>
	</div>
	<div class="choose choose_interval fadeInDown animated"><span>价格区间</span><i class="fa fa-angle-down"></i></div>
	<input name="choose_interval" type="hidden"/>
	<div class="choose choose_select" choose="choose_interval">
		<div class="choose_select_option" value="-">不限</div>
		<div class="choose_select_option" value="-3">3万以下</div>
		<div class="choose_select_option" value="3-5">3-5万</div>
		<div class="choose_select_option" value="5-8">5-8万</div>
		<div class="choose_select_option" value="8-10">8-10万</div>
		<div class="choose_select_option" value="10-20">10-20万</div>
		<div class="choose_select_option" value="20-30">20-30万</div>
		<div class="choose_select_option" value="30-50">30-50万</div>
		<div class="choose_select_option" value="50-">50万以上</div>
	</div>
	<% if (ishide != 'true') { %>
		<div class="btnSearch fadeInDown animated">搜索</div>
		<div class="btnReturn fadeInDown animated">返回</div>
	<% } else { %>
		<div class="btnSearch fadeInDown animated" style="top: 350px;">搜索</div>
	<% } %>
</div>
<img class="app_img pulse animated" src="<% if (!isSs) { %>/img/app/fabu.png <% } else { %> /img/app/soushuo.png <% } %>" />
<div class="app_effect pulse animated"></div>
<div class="app_body">
	<% if (cars && cars.length) {
		for(var i = 0; i < cars.length; i++) { %>
			<div class="body_li">
				<a href="<% if (ishide != 'true') { %>/open/cardetail?isshare=false<% } else { %>/open/cardetailAll?isshare=true<% } %>&carid=<%=cars[i].Innerid%>&isfriend=<%=cars[i].isfriend%>&custid=<%=cars[i].custid%>">
					<img class="img_li swing animated" src="<%= qnUrl + cars[i].pic_url + "?imageView2/2/w/170/h/140" + watermark %>" width="170" height="140" onerror="this.src='/img/no-img.png'"/>
				</a>
				<div class="content_li">
					<a href="<% if (ishide != 'true') { %>/open/cardetail?isshare=false<% } else { %>/open/cardetailAll?isshare=true<% } %>&carid=<%=cars[i].Innerid%>&isfriend=<%=cars[i].isfriend%>&custid=<%=cars[i].custid%>">
						<div class="content_text">
							<div class="text_title">
								<%= cars[i].model_name %>
							</div>
							<div class="text_note"><%=new Date(cars[i].register_date).format("yyyy年M月")%>上牌/<%=cars[i].mileage%>万公里</div>
							<div class="text_price">
								<span>¥</span>
								<%=cars[i].price%>万
								<div class="text_phone">
									<img src="/img/app/dianhua1.png" />
									<phone></phone>
								</div>
							</div>
						</div>
					</a>
					<% if (ishide != 'true') { %>
						<div class="content_btn">
							<% if (cars[i].isfriend != "0") { 
								if (cars[i].isfriend != "-1") { %>
									<a href="/open/information?innerid=<%=cars[i].custid%>&isqc=true">
										<div class="btnFriend_view pulse animated">查看好友</div>
									</a>
								<% }
							} else { %>
								<div class="btnFriend_add pulse animated" onclick="addRelationsApply('<%=cars[i].custid%>')">加为好友</div>
							<% } %>
						</div>
					<% } %>
				</div>
			</div>
		<% }
	} else { %>
		<img style="position: absolute;top: 130px;" src="../img/app/meiyouche.jpg" />
	<% } %>
</div>
<!-- 新弹出层 -->
<input id="isfb" type="hidden" value="<%=!isSs%>"/>
<input id="ishide" type="hidden" value="<%=ishide%>"/>
<input id="watermark" type="hidden" value="<%=watermark%>"/>
<!-- 页面脚本 -->
<script src="../js/app/carsearch.js"></script>