<!-- 页面样式 -->
<link rel="stylesheet" href="/css/app/couponshop.css" />
<!-- 页面头部 -->
<div class="app_header">
	<img class="app_header_advertisement" src="../img/app/banner.jpg">
</div>
<!-- 页面主体 -->
<div class="app_body">
	<div class="app_body_nav <%= type == 1 ? 'left' : 'right' %>">
		<div class="body_nav_left" val="1">
			<div class="body_nav_ico_left"></div>
			<div class="body_nav_title_left">商品</div>
		</div>
		<div class="body_nav_right" val="2">
			<div class="body_nav_ico_right"></div>
			<div class="body_nav_title_right">门店</div>
		</div>
	</div>
</div>
<!-- 页面底部 -->
<div class="app_bottom">
	<div class="app_bottom_header">
		<div class="bottom_header_top">
			<div class="header_top_search">
				<input class="input_search" maxlength="255" autocomplete="off"/>
				<div class="top_search_ico"></div>
				<span class="top_search_text"><%= type == 1 ? '可输入商品名称搜索' : '可输入门店名称搜索' %></span>
			</div>
		</div>
		<div class="bottom_header_bottom">
			<div class="header_bottom_left">
				<div class="header_bottom_text">
					<span>商品类型</span>
				</div>
				<i class="fa fa-caret-down"></i>
				<input id="cardtype" type="hidden"/>
			</div>
			<div class="header_bottom_right">
				<div class="header_bottom_text">
					<span>地区</span>
				</div>
				<i class="fa fa-caret-down"></i>
				<input id="cityid" type="hidden"/>
				<input id="areaid" type="hidden"/>
				<input id="shopid" type="hidden"/>
			</div>
		</div>
	</div>
	<div class="app_bottom_body">
		<div id="app_bottom_body" class="bottom_body_data">
			<% if (list && list.length) { 
				for (var i=0; i < list.length; i++) { %>
					<a href="<%= type == 1 ? (list[i].ProductUrl || '#') : ('/open/shopViewById?id=' + list[i].Innerid) %>" >
						<div class="body_li">
							<div class="body_li_frame">
								<img class="li_frame_img" src="<%= qnUrl + (type == 1 ? list[i].Logourl : list[i].Headportrait)%>" />
								<div class="li_frame_text">
									<span class="frame_text_title">
										<%= type == 1 ? list[i].Title : list[i].Shopname %>
									</span>
									<span class="frame_text_note">
										<%= (type == 1 ? (list[i].ShopArea || "") : (list[i].Area || "")) + (type == 1 ? (list[i].Shopname ? ("/" + list[i].Shopname) : "") : (list[i].Address ? ("/" + list[i].Address) : "")) %>
									</span>
									<% if (type == 1) { %>
										<span class="frame_text_money">
											<span class="frame_text_money_fh">¥</span>
											<span><%= list[i].BuyPrice %></span>
											<span class="frame_text_money_yj">
												<span class="frame_text_money_yj_fh">¥</span>
												<%= list[i].Amount %>
											</span>
										</span>
									<% } else { %>
										<div class="frame_text_lable">
											<% if (list[i].CardTypeNames) {
												var arrJuan = list[i].CardTypeNames.split(",");
												for (var j=0; j < arrJuan.length; j++) { %>
													<div class="text_lable"><%= arrJuan[j] || "未知" %></div>
												<% }
											} %>
										</div>
									<% } %>
									<span class="frame_text_money_yj_yssl">
										已售 <%= list[i].SoldedNum || "0" %>
									</span>
								</div>
							</div>
						</div>
					</a>
				<% }
			} else { %>
				<div class="null_class">
					<img src="../img/app/mallnull.jpg">
					<div class="null_class_title">
						<% if (type == 1) { %>
							<span>您当前所选的地区没有找到此类商品<br/>试试搜索其他商品类型吧~</span>
						<% } else { %>
							<span>您当前所选地区没有找到满足条件的商户<br>试试搜索其他商品类型吧~</span>
						<% } %>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>
<!-- 筛选菜单 -->
<div class="app_screening">
	<div class="screening_ul">
		<% if (type == 2) { %>
			<div class="screening_ul_cd">
				<div class="screening_ul_cd_btn" style="left: 55px;">取消</div>
				<div class="screening_ul_cd_btn" style="right: 55px;">确定</div>
			</div>
		<% } %>
		<% if (cardtype) { 
			for (var i=0; i < cardtype.length; i++) {%>
				<div class="screening_ul_li" num="<%= i %>" value="<%= cardtype[i].CodeValue || '' %>" text="<%= cardtype[i].CodeName || '' %>">
					<% if (type == 2) { %>
						<div class="screening_ul_li_check"></div>
					<% } %>
					<%= cardtype[i].CodeName || '' %>
				</div>
			<% }
		} %>
	</div>
	<div class="screening_dq">
		<div class="screening_dq_body_left">
			<div id="screening_dq_body_left" style="position: absolute;width: 150px;top: 0px;">
				<% for (var i=0; i < citys.length; i++) { %>
					<div class="screening_dq_li" value="<%= citys[i].code %>" text="<%= citys[i].name %>">
						<div class="dq_li_text">
							<%= citys[i].name %>
							<i class="fa fa-angle-right"></i>
						</div>
					</div>
				<% } %>
			</div>
		</div>
		<div class="screening_dq_body_middle">
			<div id="screening_dq_body_middle" style="position: absolute;width: 150px;top: 0px;">
			</div>
		</div>
		<div class="screening_dq_body_right">
			<div id="screening_dq_body_right" style="position: absolute;width: 340px;top: 0px;">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏数据 -->
<input id="type" type="hidden" value="<%= type %>"/>
<!-- 页面脚本 -->
<script src="../js/app/scroll.js"></script>
<script src="../js/app/couponshop.js"></script>