<!-- 页面样式 -->
<link rel="stylesheet" href="/css/app/custcoupon.css" />
<!-- 页面头部 -->
<div class="app_header">
	<a href="/open/home" style="font-size: 36px;position: absolute;top: 28px;left: 28px;">返回</a>
	<div class="header_position fadeIn animated">
		<a href="/open/coupon?status=1"><div class="header_btn_left <% if (status == 1) { %>active<% } %>">未使用劵</div></a>
		<a href="/open/coupon?status=2"><div class="header_btn_right  <% if (status == 2) { %>active<% } %>">不可用劵</div></a>
	</div>
</div>
<% if (status != 2) { %>
	<!-- 页面主体 -->
	<div class="app_body">
		<div class="body_left fadeIn animated"><span>卡劵类型</span> <i class="fa fa-caret-down"></i></div>
		<div class="body_middle fadeIn animated"><div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 180px;position: absolute;left: 10px;">地区/门店</div> <i class="fa fa-caret-down"></i></div>
		<div class="body_right fadeIn animated"><i class="fa fa-square-o" style="position: absolute;top: 26px;left: 25px;"></i><div style="position: absolute;left: 60px;">即将过期</div></div>
		<input name="isexpire" type="hidden" value="0"/>
	</div>
<% } %>
<!-- 页面底部 -->
<div class="app_bottom" style="<% if (status == 2) { %>top: 107px;<% } %>">
	<% if (list && list.length) { 
		for (var i=0; i < list.length; i++) { 
			var colors = list[i].CardtypeRemark.split('/') %>
			<a href="/open/couponDetail?code=<%=list[i].Code%>">
				<div class="bottom_li">
					<% if (status == 2) { %>
						<img class="fadeIn animated" src="<%= list[i].IsUsed == 1 ? '../img/app/ysy.png' : '../img/app/ygq.png' %>" style="position: absolute;right: 25px;z-index: 20;top: 18px;"/>
					<% } %>
					<div class="bottom_li_body fadeIn animated">
						<div class="li_body_img" style="background-color: <%= status == 2 ? '#afaeaf' : colors[0] %>;">
							<img class="img_background" src="../img/app/quan.png" />
							<div class="img_text"><%= list[i].Cardtypename ? list[i].Cardtypename : "未知" %></div>
						</div>
						<div class="li_body_content" style="background-color: <%= status == 2 ? '#fff' : colors[1] %>;">
							<div class="body_content_top" style="<%= status == 2 ? 'color: #000' : '' %>">
								<%= list[i].Title ? list[i].Title : "未知" %>
							</div>
							<div class="body_content_middle" style="background-color: <%= status == 2 ? '#ccc' : colors[2] %>;">
								有效期：<%= list[i].Vstart ? (new Date(list[i].Vstart)).format("yyyy-MM-dd") : "未知" %> 至 <%= list[i].Vend ? (new Date(list[i].Vend)).format("yyyy-MM-dd")  : "未知" %>
							</div>
							<div class="body_content_bottom" style="<%= status == 2 ? 'color: #666' : '' %>">
								<%= list[i].Shopname ? list[i].Shopname : "未知" %>
							</div>
						</div>
					</div>
				</div>
			</a>
		<% } 
	} else { 
		if (status != 2) { %>
			<img class="app_nolj fadeIn animated" src="../img/app/myj.png" />
			<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=<%=appId%>&redirect_uri=http://<%=redirect_uri%>/api/pageShop&response_type=code&scope=snsapi_base&state=a&connect_redirect=1#wechat_redirect">
				<div class="qsckk fadeIn animated">去商城看看</div>
			</a>
		<% }
	} %>
</div>
<!-- 筛选菜单 -->
<div class="app_screening">
	<div class="screening_ul">
		<% if (cardtype) { 
			for (var i=0; i < cardtype.length; i++) {%>
				<div class="screening_ul_li" value="<%= cardtype[i].CodeValue || '' %>" text="<%= cardtype[i].CodeName || '' %>">
					<%= cardtype[i].CodeName || '' %>
				</div>
			<% }
		} %>
	</div>
	<div class="screening_dq">
		<div class="screening_dq_body_left">
			<div class="screening_dq_li" value="125" text="苏州">
				<div class="dq_li_text">
					苏州
					<i class="fa fa-angle-right"></i>
				</div>
			</div>
		</div>
		<div class="screening_dq_body_middle">
		</div>
		<div class="screening_dq_body_right">
		</div>
	</div>
</div>
<!-- 隐藏数据 -->
<input id="status" type="hidden" value="<%= status %>"/>
<!-- 页面脚本 -->
<script src="../js/app/custcoupon.js"></script>