	<% include header.ejs %>
	<title>核销卡券</title>
	<%if(isDebug){%>
		<link rel="stylesheet" href="/merchant/css/common.css" />
		<link rel="stylesheet" href="/merchant/css/verification.css" />
	<%}else{%>
		<link rel="stylesheet" href="/merchant/css/common.css" />
		<link rel="stylesheet" href="/merchant/css/verification.css" />
	<%}%>
</head>
<body>
	<ul class="top-menu">
		<li class="selected"><a href="/merchant/verificationSn">核销卡券</a><div class="underline"></div></li>
		<li><a href="/merchant/verificationRecord">核销记录</a></li>
		<li><a href="/merchant/settLog">结算历史</a></li>
	</ul>
	<div class="hr"></div>
	<div class="step">
		<div class="circle selected">1</div>
		<div class="line selected"></div>
		<div class="circle selected">2</div>
		<div class="line selected"></div>
		<div class="circle">3</div>
	</div>
	<ul class="step-words">
		<li class="selected">券号输入/扫一扫</li>
		<li class="selected">核对卡券信息</li>
		<li>核销完成</li>
	</ul>
	<div class="hr"></div>
	<div class="check-info">
		<div style="padding-left:14px; position:relative;">
			<div style="font-size:2.8rem; color:#ff8106; margin-bottom:26px">序列号: <%=data.no%></div>
			<div style="font-size:2.6rem;margin-bottom:14px"><%=data.Title||''%></div>
			<div style="font-size:2.4rem;color:#666764;margin-bottom:19px"><%=data.Titlesub%></div>
			<div class="status">
				有效卡券
			</div>
		</div>
		<hr style="border-top:3px dashed #febf84;width:100%" />
		<table class="info" cellpadding="0" cellspacing="0">
			<tr>
				<td>有效期:</td>
				<td><%=data.Vstart%>至<%=data.Vend%></td>
			</tr>
			<tr>
				<td>使用规则:</td>
				<td><pre><%=data.Usedesc%></pre></td>
			</tr>
			<tr>
				<td>限用门店:</td>
				<td></td>
			</tr>
		</table>
		<table class="addr" cellpadding="0" cellspacing="0">
			<tr>
				<td>门店</td>
				<td>地址</td>
			</tr>
			<tr>
				<td><%=data.Addr.name%></td>
				<td><%=data.Addr.addr%></td>
			</tr>
		</table>
	</div>
	<div style="margin:24px 73px 50px;font-size:2.8rem; text-align: center;">
		<div name="affirm" class="confirm" style="float:left">确认核销</div>
		<div name="cancel" class="cancel" style="color:white; float:right">取消</div>
	</div>
	<input type="hidden" name="appId" value="<%=data.appId%>"/>
	<script src="/js/prefixfree.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<%if(isDebug){%>
		<script src="/merchant/js/common.js"></script>
	<%}else{%>
		<script src="/merchant/js/common.min.js"></script>
	<%}%>
	<script>
		$(function(){
			$('div[name="affirm"]').tap(function() {
				location.href="/merchant/verificationResult?no="+getQueryString('no');
			});
			$('div[name="cancel"]').tap(function() {
				location.href="/merchant/verificationSn";
			});
		});
	</script>
</body>
</html>