	<% include ../merchant/header.ejs %>
		<title><%= carData.model_name %></title>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<link rel="stylesheet" href="/common/swiper/swiper.3.1.7.min.css" />
		<%if(isDebug){%>
			<link rel="stylesheet" href="/template/css/common.css" />
			<link rel="stylesheet" href="/template/css/1.css" />
			<script src="/js/jquery.min.js"></script>
			<script src="/template/js/common.js"></script>
		<%}else{%>
			<link rel="stylesheet" href="/template/css/common.css" />
			<link rel="stylesheet" href="/template/css/1.css" />
			<script src="/js/jquery.min.js"></script>
			<script src="/template/js/common.js"></script>
		<%}%>
	</head>
	<body>
		<%if(isshow){%>
			<img class="back" src="/template/img/back.png" onclick="location.href = '<%= url%>';" />
		<%}%>
		<img class="finger" src="/template/img/finger.png"/>
		<div class="swiper-container" style="width:640px;height:421px;">
			<div class="num-pagination"><span class="current-index">1</span> / <%= carData.imges.length %></div>
			<div class="swiper-wrapper">
				<% if (carData.imges && carData.imges.length) { %>
					<%if(carData.imges[0]){%>
						<input name='first-img' type="hidden" value="<%=carData.qnUrl + carData.imges[0].Path%>"/>
					<%}%>
					<% for (var i in carData.imges) { 
						if(carData.imges[i].Path){%>
							<div class="swiper-slide">
								<img src="<%= carData.qnUrl + carData.imges[i].Path %>">
							</div>
						<%}
					}
				} %>
			</div>
		</div>

		<p style="margin-top: 10px;"><%= carData.model_name %></p>
		<p>
			<span class="price">售价</span>
			<span class="triangle-right"></span>
			<span style="color:red"> ￥<%= carData.price %>万</span>
		</p>
		<div style="animation:fadeIn 1s ease 0s both;">
			<div class="division"></div>
			<table class="datum item" cellspacing="0">
				<thead>
					<tr>
						<td colspan="4"><h2 style="padding:0">车辆详情</h2></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="td1">车型</td>
						<td colspan="3"><%= carData.model_name %></td>
					</tr>
					<tr>
						<td class="td1">车源地</td>
						<td class="td2"><%= carData.provname %>-<%= carData.cityname %></td>
						<td class="td3">颜色</td>
						<td class="td4"><%= carData.color %></td>
					</tr>
					<tr>
						<td class="td1">排量</td>
						<td class="td2"><%= carData.liter %></td>
						<td class="td3">排放标准</td>
						<td class="td4"><%= carData.dischargeName %></td>
					</tr>
					<tr>
						<td class="td1">手自动档</td>
						<td class="td2"><%= carData.geartype %></td>
						<td class="td3">行驶里程数</td>
						<td class="td4"><%= carData.mileage %>万公里</td>
					</tr>
					<tr>
						<td class="td1">上牌时间</td>
						<td colspan="3"><%= carData.register_date %></td>
					</tr>
				</tbody>
			</table>
			<div class="division"></div>
			<h2>年检及保险</h2>
			<hr/>
			<div class="item">
				<div class="condition">
					<img class="icon" src="/template/img/time.png"><span class="region">年检到期: </span><%=carData.ckyear_date%><br/>
					<img class="icon" src="/template/img/time.png"><span class="region">交强险到期: </span><%=carData.tlci_date%><br/>
					<img class="icon" src="/template/img/time.png"><span class="region">商业险到期: </span><%=carData.audit_date%><br/>
				</div>
			</div>
			<div class="division"></div>
			<h2>转让原因</h2>
			<hr/>
			<div class="item">
				<div class="desc">
					<%= carData.remark %>
				</div>
			</div>
			<div class="division"></div>
			<h2>车主信息</h2>
			<hr/>
			<div class="item">
				<div class="condition">
					<img class="icon" src="/template/img/owner.png"><span class="region">车主: </span><%=name%> <a href="tel:<%=mobile%>"><%=mobile%></a><br/>
				</div>
			</div>
			<div style="height:10px"></div>
			<%if(!isshow){%>
				<div class="item region" style="margin:15px auto 50px; font-size: 2.4rem;">
					<!-- 访问量 <%= seeCount || 0%> -->&nbsp;&nbsp;
					<%if(!isDz){%>
						<a class="good" href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=<%= appId %>&redirect_uri=http://<%=redirect_uri%>/template/thumbUp/1?carid=<%=carid%>&response_type=code&scope=snsapi_userinfo&state=<%=custid%>#wechat_redirect'>
							<img class="icon" src="/template/img/good.png">赞 <%=list.length%>
						</a>
					<%}else{%>
						<span class="good"><img class="icon" src="/template/img/good.png">赞 <%=list.length%></span>
					<%}%>
				</div>
			<%}%>
			<div style="height:10px"></div>
			<div class="bottom-logo">
				<img class="logo" src="/template/img/2/logo.png"/>
				玖伍淘车提供技术支持
			</div>
			<input name="number" type="hidden" value="1">
			<input name="appId" type="hidden" value="<%= appId %>">
			<input name="model_name" type="hidden" value="<%= carData.model_name %>">
			<input name="custid" type="hidden" value="<%= custid %>">
			<input name="carid" type="hidden" value="<%= carid %>">
			<input name="remark" type="hidden" value="<%= carData.remark %>">
			<input name="redirect_uri" type="hidden" value="<%= redirect_uri %>">
		</div>
		<script src="/js/prefixfree.min.js"></script>
		<script src="/common/swiper/swiper.3.1.7.jquery.min.js"></script>
		<script>
			$(function(){
				var swiper = new Swiper('.swiper-container',{
					onSlideChangeEnd: function(swiper){
						$('.current-index').text(swiper.activeIndex+1);
					}
				});
			});
		</script>
	</body>
</html>