	<% include ../merchant/header.ejs %>
		<title><%= carData.model_name %></title>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<link rel="stylesheet" href="/common/swiper/swiper.3.1.7.min.css" />
		<%if(isDebug){%>
			<link rel="stylesheet" href="/template/css/common.css" />
			<link rel="stylesheet" href="/template/css/3.css" />
			<script src="/js/jquery.min.js"></script>
			<script src="/template/js/common.js"></script>
		<%}else{%>
			<link rel="stylesheet" href="/template/css/common.css" />
			<link rel="stylesheet" href="/template/css/3.css" />
			<script src="/js/jquery.min.js"></script>
			<script src="/template/js/common.js"></script>
		<%}%>
	</head>
	<body>
		<%if(isshow){%>
			<img class="back" src="/template/img/back.png"/>
		<%}%>
		<img class="finger" src="/template/img/finger.png"/>
		<div class="swiper-container" style="width:640px;height:421px;">
			<div class="num-pagination"><span class="current-index">1</span> / 20</div>
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="/template/img/2/1.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/2.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/3.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/4.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/5.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/6.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/7.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/8.jpg"></div>
				<div class="swiper-slide"><img src="/template/img/2/9.jpg"></div>
			</div>
		</div>
		<p style="color:white">【保时捷卡宴 2011款 卡宴 3.0T 自动(进口)】</p>
		<div style="width:38rem; height:50px;line-height:50px; margin: 0 auto 30px auto; font-size: 2.2rem;">
			<img src="/template/img/3/price.png" style='64px;height:24px;vertical-align: sub;'/>
			<span style="color:red">￥82.00万</span>
			<img src="/template/img/3/cost.png" style='64px;height:24px;vertical-align: sub;'/>
			<span style="text-decoration:line-through">￥120.00万</span>
		</div>
		<div class="item car-info">
			<img src="/template/img/3/vertical.png" style="position:absolute;top:50%;margin-top:-165px;" />
			<img src="/template/img/3/vertical.png" style="position:absolute;top:50%;margin-top:-165px;right:0"/>

			<div class="title">车辆详情</div>
			<img src="/template/img/3/horizontal.png" style="margin:0 auto; display:block;"/>

			<table class="datum" cellspacing="0">
				<tbody>
					<tr> <td> </td><td> </td><td> </td><td> </td> </tr>
					<tr><td colspan="4" class="separator"><img src="/template/img/3/striping.jpg"/></td></tr>
					<tr>
						<td class="td1">车型</td>
						<td class="td2" colspan='3'>卡宴2011款卡宴3.0T 自动(进口)</td>
					</tr>
					<tr><td colspan="4" class="separator"><img src="/template/img/3/striping.jpg"/></td></tr>
					<tr>
						<td class="td1">车源地</td>
						<td class="td2">江苏-苏州</td>
						<td class="td1">颜色</td>
						<td class="td2">黑色</td>
					</tr>
					<tr><td colspan="4" class="separator"><img src="/template/img/3/striping.jpg"/></td></tr>
					<tr>
						<td class="td1">排量</td>
						<td class="td2">3.0T</td>
						<td class="td1">排放标准</td>
						<td class="td2">国四</td>
					</tr>
					<tr><td colspan="4" class="separator"><img src="/template/img/3/striping.jpg"/></td></tr>
					<tr>
						<td class="td1">手自动档</td>
						<td class="td2">手动一体</td>
						<td class="td1">行驶里程数</td>
						<td class="td2">10万公里</td>
					</tr>
					<tr><td colspan="4" class="separator"><img src="/template/img/3/striping.jpg"/></td></tr>
					<tr>
						<td class="td1">上牌时间</td>
						<td class="td2" colspan="3">2009-2</td>
					</tr>
				</tbody>
			</table>
			<img src="/template/img/3/horizontal.png" style="margin:0 auto; display:block;"/>
		</div>
		<div class="item trans-reason">
			<img src="/template/img/3/vertical.png" style="height: 220px; position: absolute; top: 50%; margin-top: -110px;" />
			<img src="/template/img/3/vertical.png" style="height: 220px; position: absolute; top: 50%; margin-top: -110px;right: 0;"/>

			<div class="title">转让原因</div>
			<img src="/template/img/3/horizontal.png" style="margin:0 auto; display:block;"/>

			<div class="desc" style="width: 500px;margin:0 auto;">
				肌萎缩侧索硬化（ALS）也叫运动神经元病（MND），后一名称英国常用，法国又叫夏科（Charcot）病，而美国也称卢伽雷氏（Lou Gehrig）病。我国通常将肌萎缩侧索硬化和运动神经元病混用。它是上运动神经元和下运动神经元损伤之后，导致包括球部（所谓球部，就是指的是延髓支配的这部分肌肉）、四肢、躯干、胸部腹部的肌肉逐渐无力和萎缩。导致包括球部、四肢、躯干、胸部腹部的肌肉逐渐无力和萎缩。
			</div>
			<img src="/template/img/3/horizontal.png" style="margin:0 auto; display:block;"/>
		</div>
		<div class="item base-info" style="margin:0 auto 10px;">
			<img src="/template/img/3/vertical.png" style="height: 140px; position: absolute; top: 50%; margin-top: -70px;" />
			<img src="/template/img/3/vertical.png" style="height: 140px; position: absolute; top: 50%; margin-top: -70px;right: 0;"/>

			<div class="title">基本情况</div>
			<img src="/template/img/3/horizontal.png" style="margin:0 auto; display:block;"/>
			<span style="display:inline-block; line-height:28px; width: 420px; font-size: 2.2rem; padding:40px 0 20px 20px">
				<img src="/template/img/owner.png" class="icon"><span class="region">车主: </span><%=name%>  <a href="tel:<%=mobile%>"><%=mobile%></a><br/>
				<img src="/template/img/time.png" class="icon"><span class="region">年检到期: </span><%=carData.ckyear_date%><br/>
				<img src="/template/img/time.png" class="icon"><span class="region">交强险到期: </span><%=carData.tlci_date%><br/>
				<img src="/template/img/time.png" class="icon"><span class="region">商业险到期: </span><%=carData.audit_date%><br/>
			</span>
			<img src="/template/img/3/horizontal.png" style="margin:0 auto; display:block;"/>
		</div>
		<%if(!isshow){%>
			<div class="region" style="margin-top:15px; margin-bottom: 50px; padding-left: 12px; font-size: 2.2rem;margin: 0 auto; width: 600px;">
				<!-- 访问量 0 -->&nbsp;&nbsp;
				<img class="icon" src="/template/img/good.png">赞 0
			</div>
		<%}%>
		<img class="bottom-img" src="/template/img/3/car.png"/>
		<input name="number" type="hidden" value="3">
		<input name="appId" type="hidden" value="<%= appId %>">
		<input name="model_name" type="hidden" value="<%= carData.model_name %>">
		<input name="custid" type="hidden" value="<%= custid %>">
		<input name="carid" type="hidden" value="<%= carid %>">
		<input name="remark" type="hidden" value="<%= carData.remark %>">
		<input name="redirect_uri" type="hidden" value="<%= redirect_uri %>">
		<script src="/js/prefixfree.min.js"></script>
		<script src="/common/swiper/swiper.3.1.7.jquery.min.js"></script>
		<script>
			$(function(){
				var swiper = new Swiper('.swiper-container',{
					onSlideChangeEnd: function(swiper){
						$('.current-index').text(swiper.activeIndex+1);
					}
				});
			});
		</script>
	</body>
</html>