	<% include ../merchant/header.ejs %>
		<title><%= carData.model_name %></title>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<%if(isDebug){%>
			<link rel="stylesheet" href="/template/css/common.css" />
			<link rel="stylesheet" href="/template/css/5.css" />
			<script src="/js/jquery.min.js"></script>
			<script src="/template/js/common.js"></script>
			<script src="/template/js/5.js"></script>
		<%}else{%>
			<link rel="stylesheet" href="/template/css/common.css" />
			<link rel="stylesheet" href="/template/css/5.css" />
			<script src="/js/jquery.min.js"></script>
			<script src="/template/js/common.js"></script>
			<script src="/template/js/5.js"></script>
		<%}%>
		<script src="/js/prefixfree.min.js"></script>
	</head>
	<body style="background-repeat:no-repeat;">
		<%if(isshow){%>
			<img class="back" src="/template/img/back.png" onclick="location.href = '<%= url%>';"/>
		<%}%>
		<img class="finger" src="/template/img/finger.png"/>
		<div id="stage">
			<div id="page1">
				<div style="position:absolute; top:140px; width:640px; height:151px;">
					<div style="margin:0 auto">
						<img class="left" src="/template/img/5/left.png"/><div class="head-content">
							<div style="margin-top:24px">
								<span style="white-space: nowrap;">车型: <%= carData.model_name %></span><br/>
								<span>车源地: <%= carData.provname %>-<%= carData.cityname %> </span>
								<span style="padding-left:50px">售价: <%= carData.price %>万</span>
							</div>
						</div><img class="right" src="/template/img/5/right.png"/>
					</div>
				</div>
				<div class="car-container">
					<!-- <canvas width="640" height="287" id="car" style="position:absolute;"></canvas> -->
					<svg id="car-svg" width="640" height="287">
						<path stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" 
							d="m245,8,v72,h142,v50"
							stroke-width="2" stroke="#17C0ED" fill="none">
						</path>

						<path stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" 
							d="m200,150,-20 0,-20 -60"
							stroke-width="2" stroke="#17C0ED" fill="none">
						</path>

						<path stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" 
							d="m440,215,20 0,20 -85"
							stroke-width="2" stroke="#17C0ED" fill="none">
						</path>
					</svg>
					<div class="dot" style="">&nbsp;</div>
					<%if(carData && carData.imges && carData.imges.length){%>
						<input type="hidden" name="qnUrl" value="<%=carData.qnUrl%>"/>
						<input type="hidden" name="imgs" value="<%=JSON.stringify(carData.imges)%>"/>
						<%if(carData.imges[0]&&carData.imges[0].Path){%>
							<input name='first-img' type="hidden" value="<%=carData.qnUrl + carData.imges[0].Path%>"/>
							<div class="car-container car1-container scale-animation" style="animation-delay:2s">
								<img class="car1" src="<%= carData.qnUrl + carData.imges[0].Path %>"/>
							</div>
						<%}%>
						<%if(carData.imges[1]&&carData.imges[1].Path){%>
							<div class="car-container car2-container scale-animation" style="animation-delay:3s">
								<img class="car2" src="<%= carData.qnUrl + carData.imges[1].Path %>"/>
							</div>
						<%}%>
						<%if(carData.imges[2]&&carData.imges[2].Path){%>
							<div class="car-container car3-container scale-animation" style="animation-delay:3s">
								<img class="car3" src="<%= carData.qnUrl + carData.imges[2].Path %>"/>
							</div>
						<%}%>
					<%}%>
				</div>
				
			</div>
			<div id="page2" class="status0">
				<div class="main">
					<h1>车辆信息</h1>
					<ul class="main-content">
						<li>
							<div>车型</div>
							<div style="overflow: hidden;"><%= carData.model_name %></div>
						</li>
						<li>
							<div>颜色</div>
							<div><%= carData.color %></div>
						</li>
						<li>
							<div>排量</div>
							<div><%= carData.liter %></div>
						</li>
						<li>
							<div>排放标准</div>
							<div><%= carData.dischargeName %></div>
						</li>
						<li>
							<div>手自动档</div>
							<div><%= carData.geartype %></div>
						</li>
						<li>
							<div>行驶里程数</div>
							<div><%= carData.mileage %>万公里</div>
						</li>
						<li>
							<div>上牌时间</div>
							<div><%= carData.register_date %></div>
						</li>
					</ul>
				</div>
			</div>
			<div id="page3" class="status0">
				<div class="main">
					<h1>年检及保险</h1>
					<ul class="main-content">
						<li>
							<div>年检到期时间: </div>
							<div><%=carData.ckyear_date%></div>
						</li>
						<li>
							<div>商业险到期时间: </div>
							<div><%=carData.audit_date%></div>
						</li>
						<li>
							<div>强制险到期时间: </div>
							<div><%=carData.tlci_date%></div>
						</li>
					</ul>
				</div>
			</div>
			<div id="page4" class="status0">
				<div class="main">
					<h1>转让原因</h1>
					<div class="main-content">
						<%= carData.remark %>
					</div>
				</div>
			</div>
			<div id="page5" class="status0">
				<div class="main">
					<div style="width:480px; height:200px; margin:120px auto 120px; line-height:48px; font-size:2.1rem;">
						<div class="heads-container">
							<div class="heads">
								<img class="heads-image" src="<%= headportrait %>"/>
							</div>
						</div>
						<div class="user-info">
							<span><!-- <img class="icon" src="/template/img/2/contacts.png" /> -->联系人:&nbsp;</span>
							<span> <%=name%></span><br/>
							<span><!-- <img class="icon" src="/template/img/2/phone.png" /> -->拨打电话:&nbsp;</span>
							<span><a style="text-decoration:underline; color:white;" href="tel:<%=mobile%>"> <%=mobile%></a></span>
						</div>
					</div>
					
					<%if(isDz){%>
						<div style="width:240px;height:75px;line-height:75px;font-size:2.8rem;border:2px solid #FF9A24;margin: 90px auto 20px;text-align:center;border-radius: 8px;">
							已赞, 求分享!
						</div>
					<%} else {%>
						<%if(!isshow){%>
							<a class="good" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=<%= appId %>&redirect_uri=http://<%=redirect_uri%>/template/thumbUp/5?carid=<%=carid%>&response_type=code&scope=snsapi_userinfo&state=<%=custid%>#wechat_redirect">
						<%}else{%>
							<a class="good">
						<%}%>
							<img src="/template/img/2/white-good.png" 
								style="width:30px; height:30px; margin-right:15px; position: relative; top: 2px;">点赞
						</a>
					<%}%>
					<%if(!isshow){%>
						<div style="width:220px;height:30px;line-height:30px;font-size:2.2rem;margin:0 auto;text-align:center;color:#A7A5A7">
							已赞 <%=list.length%>人 <!-- 访问量 <%= seeCount || 0%> -->
						</div>
						<div class="good-heads">
							<%
								var length = 8;
								for(var i=0; i<list.length && i<length; i++){
									if(list[i].Photo){
							%>
										<img src="<%=list[i].Photo%>" />
								<%
									}else{
										++length;
									}
								}
							%>
						</div>
					<%}%>
				</div>
				<div style="position:fixed;bottom:10px;width:640px;height:50px;">
					<hr style="width:640px;position:absolute;top:35%;border-color:#386276"/>
					<div style="position:absolute;width:340px;top:50%;left:50%;margin-left:-170px;background-color:#00020D;text-align:center;margin-top:-13px;">
						<img style="margin:0 10px;vertical-align: bottom;" src="/template/img/5/logo.png"/>
						<span style="font-size:1.8rem;color:#437C90">玖伍淘车提供技术支持</span>
					</div>
				</div>
			</div>
		</div>
		<div class="next-page">
			<a>&nbsp;</a>
		</div>
		<div class="big-img">
			<div class="img"></div>
			<div class="nav_btn nav-pre"></div>
			<div class="nav_btn nav-next"></div>
		</div>
		<div class="grey-cover"></div>
		<input name="number" type="hidden" value="5">
		<input name="appId" type="hidden" value="<%= appId %>">
		<input name="model_name" type="hidden" value="<%= carData.model_name %>">
		<input name="custid" type="hidden" value="<%= custid %>">
		<input name="carid" type="hidden" value="<%= carid %>">
		<input name="remark" type="hidden" value="<%= carData.remark %>">
		<input name="redirect_uri" type="hidden" value="<%= redirect_uri %>">
	</body>
</html>